PAYLOAD_SECRET=
PAYLOAD_DATABASE_URL=

PAYLOAD_S3_BUCKET=tabitabi
PAYLOAD_S3_ACCESS_KEY_ID=S3RVER
PAYLOAD_S3_SECRET_ACCESS_KEY=S3RVER
PAYLOAD_S3_REGION=auto
PAYLOAD_S3_ENDPOINT=http://localhost:4569

DRAFT_SECRET=