@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 3, 10, 35;
  --background-end-rgb: 2, 7, 35;

  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: rgb(var(--background-start-rgb)); */
  background: linear-gradient(
    180deg,
    rgb(var(--background-start-rgb)) 0%,
    rgb(var(--background-end-rgb)) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

@layer components {
  .gradient {
    background: linear-gradient(
      to right,
      var(--purple),
      var(--violet),
      var(--pink),
      var(--purple)
    );
    background-position: left;
    background-size: 200%;
    white-space: nowrap;
    transition: background-position 300ms ease-in-out;
    overflow: hidden;
  }

  .gradient:hover {
    animation: background-pan 2s linear forwards infinite;
  }

  .top-border-gradient {
    position: relative;
  }

  .top-border-gradient::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background: linear-gradient(
      to right,
      transparent 20%,
      rgba(255, 255, 255, 0.2),
      transparent 80%
    );
  }

  @keyframes background-pan {
    from {
      background-position: 0% top;
    }

    to {
      background-position: 200% bottom;
    }
  }

  .magic-text-animate {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
      to right,
      var(--purple),
      var(--violet),
      var(--pink),
      var(--purple)
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
  }

  .magic-text {
    background: linear-gradient(
      to right,
      var(--purple),
      var(--violet),
      var(--pink),
      var(--purple)
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
  }

  .card {
    border-radius: 1px;
  }

  .card:after {
    content: "";
    position: absolute;
    top: -6px;
    left: -6px;
    height: calc(100% + 6px * 2);
    width: calc(100% + 6px * 2);
    background: linear-gradient(
      to top left,
      var(--purple),
      var(--violet),
      var(--pink),
      var(--purple)
    );
    border-radius: 10px;
    z-index: -1;
    animation: animatedgradient 1s ease alternate infinite;
    background-size: 300% 300%;
  }

  @keyframes animatedgradient {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    height: 400px;
    width: 400px;
    border: 3px solid #0000;
    border-radius: 12px;
    background: linear-gradient(#131219, #131219) padding-box,
      linear-gradient(var(--angle), #070707, #687aff) border-box;
    animation: 8s rotate linear infinite;
  }

  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }

  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
}
